.container {
    max-width: 1440px;
    padding: 0 5rem;
    margin: 0 auto;

    @include sm {
        padding: 0 1.5rem;
    }
}

.text-gradient {
    background: linear-gradient(90deg, #093028 0%, #237A57 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text-40 {
    font-size: 4rem;
}

.text-38 {
    font-size: 3.8rem;
}

.text-34 {
    font-size: 3.4rem;
}

.text-30 {
    font-size: 3rem;

    @include md {
        font-size: 24px;
    }
}

.text-28 {
    font-size: 2.8rem;
}

.text-24 {
    font-size: 2.4rem;

    @include md {
        font-size: 20px;
    }
}

.text-20 {
    font-size: 2rem;

    @include md {
        font-size: 20px;
    }
}

.text-18 {
    font-size: 1.8rem;

    @include md {
        font-size: 18px;
    }
}

.text-white {
    color: white;
}

.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

.sp {
    display: none;

    @include md {
        display: block;
    }
}

.pc {
    display: block;
    @include md {
        display: none;
    }
}

.text-18-sp {
    font-size: 1.8rem;
    @include md {
        font-size: 15px;
    }
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
