.footer {
    position: relative;

    &__top {
        display: grid;
        grid-template-columns: 1.3fr 1fr 1.1fr;
        gap: 6.4rem;
        align-items: start;
        padding-bottom: 4rem;
    }

    &__lead {
        
    }

    &__title {
        
    }

    .text-basic {
        color: #008080;
    }

    &__logo {
        display: inline-block;
        width: 100%;
        margin-top: 1.2rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem 2rem;
        padding-top: 0.8rem;

        a {
            color: #003D3D;
            font-size: 1.5rem;
            font-weight: 500;
            
        }
    }

    &__visual {
        position: relative;
        justify-self: end;
        max-width: 44rem;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__to-top {
        position: absolute;
        right: 3.2rem;
        top: -2.6rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background: #008080;
        border: 0.3rem solid #FFE44B;
        color: #fff;
        display: grid;
        place-content: center;
        justify-items: center;
        gap: 0.3rem;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(1rem);
        transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;

        &.is-visible {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
        }

        span {
            font-family: "Oswald", sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1;
        }
        img {
            width: 3.5rem;
            height: auto;
        }
    }

    &__bottom {
        background: linear-gradient(90deg, #093028 0%, #237a57 100%);
        color: #fff;
        padding: 3.8rem 0;
    }

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        align-items: end;
    }

    &__company {
        display: grid;
        gap: 0.8rem;

        div {
            display: flex;
            gap: 2rem;
        }

        dt,
        dd,
        a {
            font-size: 1.5rem;
            color: #fff;
            font-weight: 400;
            line-height: 1.3;
        }

        dt {
            min-width: 10rem;
            opacity: 0.9;
        }
    }

    &__meta {
        text-align: right;
        display: grid;
        gap: 1.2rem;

        a {
            font-size: 1.4rem;
            color: white;
            font-weight: 400;
            line-height: 100%;
        }
        small {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 100%;
        }
    }
}